- for (var i=0; i < modules.length; i++)
    a(class="module")
        div(class="option")
            h3 #{modules[i].name}
            if serverModule
                if modules[i].hasserversettings
                    button(onclick="openModuleSettings(\"" + modules[i].name + "\");") Settings
                button(onclick="removeModule(\"" + modules[i].name + "\");") Remove
            else if userModule
                button(onclick="openModuleSettings(\"" + modules[i].name + "\");") Settings
                br
            else
                span #{modules[i].description}
                br
                button(onclick="addModule(\"" + modules[i].name + "\");") Add module to server