- for (var i=0; i < modules.length; i++)
    a(class="module")
        div
            h1 #{modules[i].name}
            span #{modules[i].description}
            if serverModule
                if modules[i].hasserversettings
                    button(onclick="openModuleSettings(\"" + modules[i].name + "\");") Settings
                button(onclick="removeModule(\"" + modules[i].name + "\");") Remove
            else if userModule
                button(onclick="openModuleSettings(\"" + modules[i].name + "\");") Settings
            else
                button(onclick="addModule(\"" + modules[i].name + "\");") Add module to server