head
    title= "Select server"
    style
      include servers.css
    link(href="select.css" rel="stylesheet")
body
    h1= "Select server to configure"
    div#selection
        - for (var i=0; i < servers.length; i++)
          a(href="/server?code=" + servers[i].id)
            div(class="server")
              if servers[i].icon !== null
                img(src="https://cdn.discordapp.com/icons/" + servers[i].id +"/" + servers[i].icon + ".png")
              span #{servers[i].name}
              
            
