head
    title= "Select server"
    link(href="stylesheet.css" rel="stylesheet?v=0.3")
    style
      include servers.css
body
    include topbar.pug
    h1= "Select server to configure"
    div#selection
        - for (var i=0; i < servers.length; i++)
          a(href="/server?id=" + servers[i].id)
            div(class="option")
              button
                if servers[i].icon !== null
                  img(src="https://cdn.discordapp.com/icons/" + servers[i].id +"/" + servers[i].icon + ".png")
                  br
                span #{servers[i].name}
        a(href="https://discordapp.com/api/oauth2/authorize?client_id=432905547487117313&permissions=18432&scope=bot" target="_blank")
          div(class="option")
            button
              span Add Discat to your server!
    script(src="functions.js")