head
    title= "Server config"
    link(href="select.css" rel="stylesheet")
    style
        include server.css
body
    h1= "Server config"
    div#menu
    div#selection
        a(onclick="addModule();")
            div 
                span Add module
    script(src="functions.js")
    script(src="server.js")

