head
    title= "Select server"
    style
      include servers.css
    link(href="select.css" rel="stylesheet")
body
    h1= "Select server to configure"
    div#servers
        - for (var i=0; i < servers.length; i++)
          div(class="server" id=servers[i].id)
            if servers[i].icon !== null
              img(src="https://cdn.discordapp.com/icons/" + servers[i].id +"/" + servers[i].icon + ".png")
            span #{servers[i].name}
              
            
