div#topbar
    a#discattopbar(href="/")
        button
            img(src="discattopbar.png?v=0.2")
    button#accountbar(onclick="OpenAccountDropdown();")
        div#accountbaravatar
            img(src="https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png")
        span#accountbarusername #{user.username + "#" + user.discriminator}

div#accountbardropdown
    div#accountbardropdownusername #{user.username}
    span#accountbardropdowndiscriminator #{user.discriminator}
    div#logout Logout