head
    title= "User config"
    link(href="stylesheet.css?v=0.3" rel="stylesheet")
body
    include topbar.pug
    h1= "User config"
    div#menu
    div#modules
        include modules.pug
    script(src="functions.js?v=0.3")
    script(src="user.js")

