head
    title= "User config"
    link(href="stylesheet.css" rel="stylesheet")
body
    h1= "User config"
    div#menu
    div#modules
        include modules.pug
    script(src="functions.js")
    script(src="user.js")

