body {
    font-family: sans-serif;
    margin: 0;
    background-color: #d9edff;
}

#selection {
    display: flex;
    align-items: center;
}

a {
    width: 24vw;
    height: 40vw;

    margin: auto;
    text-align: center;

    color: black;

    background-color: #d0e9ff;
    border: 1px #c7c7c7 groove;
    border-radius: 10%;

    text-decoration: none;
}

#menu {
    width: 40%;
    height: 0%;
    transition: height 2s;

    margin: 20px auto;
    padding: 10px;

    visibility: hidden;

    background-color: #adbdcc;

    border: 1px solid #97a5b2;
    border-radius: 5%;

    z-index: 1;
}